<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @local_armazenamento.nome %>
</p>

<%= link_to 'Edit', edit_local_armazenamento_path(@local_armazenamento) %> |
<%= link_to 'Back', local_armazenamentos_path %>
